.toolbar {
    position: fixed;
    top: 10%;
    bottom: auto;
    left: 50px;
    background-color: #ccc;
    border: 1px outset black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
    padding: 10px;
    display: block;
    max-width: 200px;
}
.toolbar h1 {
    color: white;
    font-size: 1.4em;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    text-align: center;
    width: 100%;
    display: block;
}
.toolbar > .tools {
    display: block;
}
.toolbar > .options {
    display: block;
}
.tools > .tool {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}