.brandBox {
    position: fixed;
    width: 100%;
    background-color: white;
}
.brandBox h1 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
}

.brandBox h2 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 10px;
}

.brandBox .navBox {
    position: absolute;
    width: 50%;
    background-color: black;
    right: 0px;
}